.nav-wrapper {  
  
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;  


  .nav-header {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--color-header);  
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 1px 3px rgba(0, 0, 0, 0.07);
    z-index: 2001;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 1rem 0 1rem;

    .title-text {
      font-size: 1.5rem;
      font-weight: 600;
      display: flex; 
      height: 100%;
      color: var(--color-signature)
    }

    .menu-icon {
      cursor: pointer;
      width: 1.2rem;      
    }

    .logo-image {
      width: 1.5rem;
      height: 1.5rem;
    }

  }

  .sidebar-wrapper {
    position: fixed;
    display: flex;    
    margin-top: var(--nav-height);
    z-index: 2000;
    

    &.open {
      left: 0rem;      
    }
    &.close {      
      left: calc(0rem - var(--side1-width) - var(--side2-width));
    }
    &.open-transition {      
      animation: open 0.2s; 
    }
    &.close-transition {            
      animation: close 0.2s;
    }

  }   

  .side-1 {    
    width: var(--side1-width);
    height: 100vh;
    background-color: var(--color-side-1);
    border-right: solid 1px var(--color-border);
    display: flex;
    justify-content: center;
    z-index: 2001;

    .profile-img {
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      // border: solid 1px var(--color-border);
      background-color: white;
      &:hover {
        // border-radius: 30%;
        border: solid 2px var(--color-signature);
      }
    }
  }

  .side-2 {
    display: flex;
    width: var(--side2-width);
    height: 100vh;

    background-color: var(--color-side-2);
    border-right: solid 1px var(--color-border);
    z-index: 2001;

    .footer {
      width: 100%;
      padding: 4rem 1rem 0rem 1rem;
      // position: absolute;
      bottom:4rem;
      .copyright {
        font-size: 0.8rem;
      }
    }
    .color-mode-btn {
      padding: 0;
      display: flex; align-items: center;
      span {
        padding-left: 0.2rem;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
    .color-mode-icon {
      cursor: pointer;
      width: 1rem;
    }    
  }

  .other {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    opacity: 0.5;
    position: fixed;
    z-index: 1999;    
  }





  ul {
    list-style-type: none;
    li {
      margin-bottom: 0.6rem;
    }
  }
}

@media ( min-width: 800px ) {
  .nav-wrapper {
    width: calc(var(--side1-width) + var(--side2-width));
    .sidebar-wrapper { 
      width: calc(var(--side1-width) + var(--side2-width));
      .other {
        display: none;
      }
     }    
  }
}


@keyframes open {
	from {
		left: calc(0rem - var(--side1-width) - var(--side2-width));
	}
	
	to {
		left: 0rem;
	}
}

@keyframes close {
	from {
    left: 0rem;
	}
	
	to {
    left: calc(0rem - var(--side1-width) - var(--side2-width));
	}
}

