.nav-wrapper {  
  
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;  


  .nav-header {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--color-header);  
    // background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 1px 3px rgba(0, 0, 0, 0.07);
    z-index: 2001;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 0.8rem 0 0.8rem;    


    .logo-text {
      font-family: "Orbitron";
      font-size: 1.2rem;
      font-weight: 600;
      display: flex; 
      height: 100%;
      position: relative;
      color: var(--color-logo);         
      font-style: italic;
      text-shadow: 0px -1px var(--color-signature);
    }


    .logo-text::before, .logo-text::after {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      
    }

    .logo-text::before {
      left:1px;
      text-shadow: 1px 1px #2a96d4;
    }

    .logo-text::after {
      left:-1px;
      text-shadow: -1px 1px #cc2a1f;
    }

    .menu-icon {
      cursor: pointer;
      width: 1rem;      
    }

    .logo-image {
      width: 1.5rem;
      height: 1.5rem;
    }

  }

  .nav-sidebar {
    position: fixed;
    display: flex;    
    margin-top: var(--nav-height);
    z-index: 2000;
    

    &.open {
      left: 0rem;      
    }
    &.close {      
      left: calc(0rem - var(--side1-width) - var(--side2-width));
    }
    &.open-transition {      
      animation: open-sidebar 0.2s; 
    }
    &.close-transition {            
      animation: close-sidebar 0.2s;
    }

  }   

  .side-1 {    
    width: var(--side1-width);
    height: 100vh;
    background-color: var(--color-side-1);
    border-right: solid 1px var(--color-border);
    display: flex;
    justify-content: center;
    z-index: 2001;

    .profile-img {
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      // border: solid 1px var(--color-border);
      background-color: white;
      &:hover {
        // border-radius: 30%;
        border: solid 2px var(--color-signature);
      }
    }
  }

  .side-2 {
    display: flex;
    flex-direction: column;
    width: var(--side2-width);
    height: 100vh;


    background-color: var(--color-side-2);
    border-right: solid 1px var(--color-border);
    z-index: 2001;

    .category-list {
      padding: 0rem 0.7rem 0rem 0.7rem;
      a {
        display: flex;
        text-decoration: none;
        color: var(--color-text);        
        font-weight: 600;
        
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        margin: 0rem 0rem 0rem 0rem;
        
        &:hover {
          border-radius: 4px;      
          background-color: var(--color-focus);          
        }        
      }   
      h3 {
        margin: 0rem;
      }
      .group-label {
        padding: 0rem 0.3rem 0rem 0.3rem;
        font-size: 0.8rem;
        color: var(--color-text-sub);
        font-weight: 300;
      }
      ul {
        margin: 0rem;
        li {
          margin-bottom: 0;
        }
      }
    }

    .footer {
      width: 100%;
      padding: 0rem 1rem 0rem 1rem;
      // position: absolute;
      bottom:4rem;
      .copyright {
        font-size: 0.8rem;
      }
    }
    .color-mode-btn {
      padding: 0;
      display: flex; align-items: center;
      span {
        padding-left: 0.2rem;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
    .color-mode-icon {
      cursor: pointer;
      width: 1rem;
    }    
  }

  .other {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    opacity: 0.5;
    position: fixed;
    z-index: 1999;    
  }

  @keyframes open-sidebar {
    from {
      left: calc(0rem - var(--side1-width) - var(--side2-width));
    }
    
    to {
      left: 0rem;
    }
  }
  
  @keyframes close-sidebar {
    from {
      left: 0rem;
    }
    
    to {
      left: calc(0rem - var(--side1-width) - var(--side2-width));
    }
  }  
  

  .nav-menu {
    // margin-top: var(--nav-height);
    width: 100%;    
    height: 100%;
    z-index: 2000;
    position: fixed;   
    
    // margin-top: var(--nav-height);
    background-color: rgb(0, 0, 0, 0.9);
    display: flex; align-items: center; justify-content: center;
    text-align: center;

    &.open {
      top: 0%;
    }

    &.close {
      top:-100%
    }

    &.open-transition {      
      animation: open-menu 0.5s;
    }
    &.close-transition {            
      animation: close-menu 0.5s;
    }    

    a {      
      font-size: 3rem;
      font-family: "Orbitron";
      text-decoration: none;
      font-weight: 300;

      -webkit-text-stroke: 0.5px #fff;
      background: linear-gradient(0deg, #fff, #fff);
      -webkit-background-clip: text;
      color:transparent;
      background-repeat: no-repeat;
      background-position: 0% 0%;
      background-size: 100% 100%;
      


      &.top {
        animation: text-highlight-top 1s ease-in;
        background-position: 0% 0%;
        filter: drop-shadow(0 0 5px #ff0000)
      }
      &.left {
        animation: text-highlight-left 1s ease-in;
        background-position: 0% 0%;
        filter: drop-shadow(0 0 5px #001aff)
      }
      &.right {
        animation: text-highlight-right 1s ease-in;
        background-position: 100% 0%;
        filter: drop-shadow(0 0 5px #ffd500)
      }
    }

  }

  @keyframes open-menu {
    from {
      top: -100%  

    }
    
    to {
      top:0%  
    }
  }
  
  @keyframes close-menu {
    from {
      top:0%      
    }
    
    to {
      top:-100%       
    }
  }  

  @keyframes text-highlight-top {
    from {
      background-size: 100% 0%;      
    }
    
    to {
      background-size: 100% 100%;                 
    }
  }    

  @keyframes text-highlight-left {
    from {
      background-size: 0% 100%;
    }
    
    to {
      background-size: 100% 100%;                 
    }
  }    
  
  @keyframes text-highlight-right {
    from {
      background-size: 0% 100%;
    }
    
    to {
      background-size: 100% 100%;                 
    }
  }      



  a {
    text-decoration: none;
  }


  ul {
    list-style-type: none;
    li {
      margin-bottom: 0.6rem;
    }
  }

}

@media ( min-width: 1080px ) {
  .nav-wrapper {
    width: calc(var(--side1-width) + var(--side2-width));
    .nav-sidebar { 
      width: calc(var(--side1-width) + var(--side2-width));
      .other {
        display: none;
      }
     }    
  }
}






